{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react-extra", "flowtype"],
  "settings": {
    "react": {
      "version": "16.4",
      "flowVersion": "0.93"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "document": true,
    "test": true,
    "window": true,
    "fetch": true,
    "WebSocket": true,
    "alert": true,
    "URLSearchParams": true,
    "sinon": true,
    "shallow": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "max-len": [
      1,
      {
        "code": 80,
        "tabWidth": 2
      }
    ]
  }
}
